# Ignoring digest files
digest.*

# Ignoring temporary files
results*

# Ignoring environment files
.env

# Ignoring node modules
node_modules/

# Ignoring macOS file.DS_Store
.DS_Store

# Ignoring source directory files
.repo_to_analyze/

# Ignoring analysis output files
analysis*